#include "resources.h"

1 VERSIONINFO
    FILEVERSION 0,0,0,1
    PRODUCTVERSION 0,0,0,1
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_APP
    {
        BLOCK "StringFileInfo"
        {
            BLOCK "041904E3"
            {
                VALUE "CompanyName", "ГоршокМоторс"
                VALUE "FileDescription", "Функциональный калькулятор"
                VALUE "FileVersion", "1.0"
                VALUE "InternalName", "Калькулятор"
                VALUE "LegalCopyright", "GPL"
                VALUE "OriginalFileName", "Калькулятор"
                VALUE "ProductName", "Калькулятор"
                VALUE "ProductVersion", "1.0"
            }
        }
        BLOCK "VarFileInfo"
        {
            VALUE "Translation", 0x0419, 0x04E3
        }
    }
M_ICON16 ICON "icon16.ico"
M_ICON32 ICON "icon32.ico"
rb0 BITMAP "Радио0.bmp"
rb1 BITMAP "Радио1.bmp"
dlg DIALOG 0,0,130,115
    STYLE WS_POPUP|DS_MODALFRAME
    CAPTION "Введите границы"
    FONT 10,"TIMES NEW ROMAN"
    BEGIN
      CONTROL "Введите верхнюю границу",1,"STATIC",SS_CENTER,10,10,100,10
      CONTROL "",2,"EDIT",ES_CENTER,15,30,100,10
      CONTROL "Введите нижнюю границу",3,"STATIC",SS_CENTER,15,50,100,10
      CONTROL "",4,"EDIT",ES_CENTER,15,70,100,10
      CONTROL "Ввести",5,"BUTTON",BS_DEFPUSHBUTTON,45,90,40,15
    END
dlg1 DIALOG 0,0,130,75
     STYLE WS_POPUP|DS_MODALFRAME
     CAPTION "Введите приближение"
     FONT 10,"TIMES NEW ROMAN"
     BEGIN
       CONTROL "Введите приближение",1,"STATIC",SS_CENTER,10,10,100,10
       CONTROL "",2,"EDIT",ES_CENTER,15,30,100,10
       CONTROL "Ввести",3,"BUTTON",BS_DEFPUSHBUTTON,45,50,40,15
     END
